
@{
    ViewBag.Title = "Post Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Post Search</h2><hr>

@using (Html.BeginForm())
{
     <div>
            <label>
                Created Date
            </label>

            @Html.TextBox("txtCreatedDate",null,new{@class="form-control"})
        </div>
        <div>
            <label>
                Contain Text
            </label>

            @Html.TextBox("txtContainText",null,new{@class="form-control"})
        </div>
            <br>
        <div>                   
            <input id="btnSearch" type="button" value="Search" onclick="PostStatus();" class="btn btn-success" />
        </div>
    
}


    <div id="pageDetails">
       
            <h2>Post Title: </h2>
            <p></p>
        
        
        
    </div>

    <select id ="pageName">
        <option value="">Dhaka</option>
        <option value="">Rajshahi</option>
        <option value="">Khulna</option>
    </select>




    <script type="text/javascript">

        //$(function () {
            

        //            //$.ajax({
        //            //    url: '/PostSearch/PageInfo',
        //            //    type: 'GET',
        //            //    contentType: "application/json; charset=utf-8",
        //            //    data: JSON.stringify(json),
        //            //    dataType: "json",
        //            //    success: function (data) {
        //            //        //$.each(data, function(key, value) {

        //            //        //    options += '<option value="' + key + '">' + value + '</option>';                    


        //            //        //});
        //            //        alert("Hi THere"+data.name);

        //            //        // $("select#pageName").html(options);
        //            //    }
        //    //});

        //    alert("HI");              
            

        //});

       
            $("#pageName").change(function () {

                alert("HEllo There");
            });


        


</script>    