
@{
    ViewBag.Title = "Post Search";
}

<h2>Post Search</h2><hr>

@using (Html.BeginForm())
{
     <div>
            <label>
                Created Date
            </label>

            @Html.TextBox("txtCreatedDate",null,new{@class="form-control"})
        </div>
        <div>
            <label>
                Contain Text
            </label>

            @Html.TextBox("txtContainText",null,new{@class="form-control"})
        </div>
            <br>
        <div>                   
            <input id="btnSearch" type="button" value="Search" onclick="PostStatus();" class="btn btn-success" />
        </div>
    
}


    <div id="pageDetails">
        @for (var i = 0; i < 3; i++)
        {
            <h2>Post Title: </h2>
            <p></p>
        }
        
        
    </div>




    <script type="text/javascript">

    function PostStatus() {
        var postDate = $('#txtCreatedDate').val();

        if (postDate != '') {
            $.ajax({
                url: 'https://graph.facebook.com/1502488506686496?fields=posts.limit(3){message}&access_token=CAACEdEose0cBAP42INUS4jXLrD2oVADFtGZAPFb9AUdZCK6vHX77580gWpAm2a0NI23xOZAcnOZC6KGZCZBaYyhXRKpzSAF44ZAnykgWFQaQaUTqSP22vV9VdqkyEgfr92mLK6ZBTwnT5BK3sNFEW7zxbRuOzgmj3rw4mEBQEzOYJtZBuE6sZAApHcZCEZBaaDqjIIgJJZClEZAZAd2tJcfV923Kx0tCrNGZCRQB40gZD',
                type: 'GET',
                data: {postDate: postDate},
                success:function(data) {
                    for(var i=0; i<3; i++){
                    $("#pageDetails h2").append(data.posts.data[i].message);
                    $("#pageDetails p").html(data.posts.data[i].created_time);

                    }
                   

                }
            });
        }
        else {
            alert('please select created date');
        }
    }




</script>    